<style>
  .nav-link{
    color: white;
  }
</style>
<% sidebar_presenter = SidebarPresenter.new(self) %>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="<%= users_path %>" class="nav-link <%= sidebar_presenter.is_active?('users')%>" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= wings_path %>" class="nav-link <%= sidebar_presenter.is_active?('wings')%>" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Wings
        </a>
      </li>
      <% if current_user.super_admin? %>
        <li class="nav-item">
          <a href="<%= societies_path %>" class="nav-link <%= sidebar_presenter.is_active?('societies')%>" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Societies
          </a>
        </li>
      <% end %>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><div class="d-flex justify-content-center"><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %></div></li>
      </ul>
    </div>
  </div>