<div id="<%= dom_id society %>">
  <p>
    <strong>Name:</strong>
    <%= society.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= society.address %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= society.subdomain %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= society.contact_email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= society.phone %>
  </p>

</div>
